/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100;
} */

#root {
    text-align: center;
}

.globeContainer {
    justify-content: center;
    width: 500px; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    margin: 0 auto; /* Center the globe container horizontally */
  }
